# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui

# Dados
dados = {
    'ano': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
    'anomalia_termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
}

# Criar a série
serie = pd.Series(dados['anomalia_termica'], index=dados['ano'])

# Exibir a série
print(serie)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:

# seu código aqui
dados = {
    'anomalia_termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
}

# Anos para índices
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

# Criar a série com os anos como índices
serie = pd.Series(dados['anomalia_termica'], index=anos)

# Exibir a série
print(serie)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

# Criar a série
serie_temperaturas = pd.Series(dic_temperaturas)

# Exibir a série
print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [6]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

# Transformar em DataFrame
df = pd.DataFrame(arr)

# Exibir o DataFrame
print(df)

             0           1           2
0   116.509034  101.379623   95.507730
1   109.226503   96.427270   99.093492
2   104.916217   99.106889  101.580558
3    88.913910  106.137655  101.515221
4   107.578193  102.200454  103.913991
5    92.854505  107.714997  101.053448
6   105.574125  115.062155  100.216643
7    71.207593   98.221087  102.706230
8   100.885939  121.416796  101.587557
9   105.879577   99.035543  107.058900
10  100.159076  116.780716  111.729114
11  101.547005   93.949776  109.040512
12  114.847652  105.503327   85.039638
13   97.689743  111.300670  115.732221
14   95.259190  110.350062   93.796693
15   93.273986  118.826664   89.727459
16  107.136577  100.121459   97.750801
17  107.445047   98.538961   96.798947
18   96.823710  107.603229   88.155275
19  102.197263  115.773851  104.964996

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [7]:
#seu código aqui

# Transformar em DataFrame
df = pd.DataFrame(arr)

# Nomear os índices das linhas
df.index = range(1, 21)

# Nomear as colunas
df.columns = ['x1', 'x2', 'x3']

# Exibir o DataFrame
print(df)

            x1          x2          x3
1   116.509034  101.379623   95.507730
2   109.226503   96.427270   99.093492
3   104.916217   99.106889  101.580558
4    88.913910  106.137655  101.515221
5   107.578193  102.200454  103.913991
6    92.854505  107.714997  101.053448
7   105.574125  115.062155  100.216643
8    71.207593   98.221087  102.706230
9   100.885939  121.416796  101.587557
10  105.879577   99.035543  107.058900
11  100.159076  116.780716  111.729114
12  101.547005   93.949776  109.040512
13  114.847652  105.503327   85.039638
14   97.689743  111.300670  115.732221
15   95.259190  110.350062   93.796693
16   93.273986  118.826664   89.727459
17  107.136577  100.121459   97.750801
18  107.445047   98.538961   96.798947
19   96.823710  107.603229   88.155275
20  102.197263  115.773851  104.964996

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [8]:
# seu código aqui

# Calcular a média das três colunas
df['media'] = df.mean(axis=1)

# Exibir o DataFrame com a nova coluna
print(df)

            x1          x2          x3       media
1   116.509034  101.379623   95.507730  104.465462
2   109.226503   96.427270   99.093492  101.582422
3   104.916217   99.106889  101.580558  101.867888
4    88.913910  106.137655  101.515221   98.855595
5   107.578193  102.200454  103.913991  104.564213
6    92.854505  107.714997  101.053448  100.540983
7   105.574125  115.062155  100.216643  106.950974
8    71.207593   98.221087  102.706230   90.711637
9   100.885939  121.416796  101.587557  107.963431
10  105.879577   99.035543  107.058900  103.991340
11  100.159076  116.780716  111.729114  109.556302
12  101.547005   93.949776  109.040512  101.512431
13  114.847652  105.503327   85.039638  101.796872
14   97.689743  111.300670  115.732221  108.240878
15   95.259190  110.350062   93.796693   99.801981
16   93.273986  118.826664   89.727459  100.609370
17  107.136577  100.121459   97.750801  101.669612
18  107.445047   98.538961   96.798947  100.927652
19   96.823710  107.603229   88.155275   97.527405
20  102.197263  115.773851  104.964996  107.645370

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui

# Calcular o logaritmo natural da média e atribuir à nova coluna
df['log_med'] = np.log(df['media'])

# Exibir o DataFrame com a nova coluna
print(df)

            x1          x2          x3       media   log_med
1   116.509034  101.379623   95.507730  104.465462  4.648857
2   109.226503   96.427270   99.093492  101.582422  4.620871
3   104.916217   99.106889  101.580558  101.867888  4.623677
4    88.913910  106.137655  101.515221   98.855595  4.593660
5   107.578193  102.200454  103.913991  104.564213  4.649801
6    92.854505  107.714997  101.053448  100.540983  4.610565
7   105.574125  115.062155  100.216643  106.950974  4.672371
8    71.207593   98.221087  102.706230   90.711637  4.507686
9   100.885939  121.416796  101.587557  107.963431  4.681793
10  105.879577   99.035543  107.058900  103.991340  4.644308
11  100.159076  116.780716  111.729114  109.556302  4.696439
12  101.547005   93.949776  109.040512  101.512431  4.620181
13  114.847652  105.503327   85.039638  101.796872  4.622979
14   97.689743  111.300670  115.732221  108.240878  4.684359
15   95.259190  110.350062   93.796693   99.801981  4.603188
16   93.273986  118.826664   89.727459  100.609370  4.611245
17  107.136577  100.121459   97.750801  101.669612  4.621728
18  107.445047   98.538961   96.798947  100.927652  4.614404
19   96.823710  107.603229   88.155275   97.527405  4.580133
20  102.197263  115.773851  104.964996  107.645370  4.678842